{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li><li>Dashboard</li>
            </ol>
        </div>

        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
                </div>
            </div>

            <h1>Welcome</h1>

            {% for conference in conferences %}
                {% if date(conference.callForPapersStart) < date() and date(conference.callForPapersEnd) > date() %}
                    <div class="alert alert-warning">
                        Submit your Abstract Papers for "{{ conference.name }}"
                    </div>
                {% endif %}
                {% if date(conference.paperSubmissionStart) < date() and date(conference.paperSubmissionEnd) > date() %}
                    <div class="alert alert-warning">
                        Submit your Full Papers for "{{ conference.name }}"
                    </div>
                {% endif %}
            {% endfor %}

            {% include ':components:availableConferences.html.twig' %}

        </div>
    </div>
{% endblock body %}